footer {
    background-color:#2C3E50;
    padding: 70px ;
    color: white;
  }

.copyRights{
  background-color: #1A252F;
  color: white;
  text-align: center;
  padding: 20px;
}
.icons{
  display: flex;
  gap: 10px;
  
  
}
h2{
  font-size: 20px;
  text-transform: uppercase;
}
.iconStyle{
  
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

  